@use '../Components/vars';


.search {
  width: 100%;
  max-width: 600px;
  margin: 0 5%;

  background-color: vars.$c-neutral;
  border-radius: vars.$m-border-rad;

  overflow: hidden;
  position: relative;

  &__field, &__button {
    border: 0;
    padding: 0;
  }
  &__field {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
  }

  &__button {
    background-color: vars.$c-neutral;

    position: absolute;
    right: 0;
    top: 0;
  }
}