$c-primal-d: #E17493;
$c-primal: #FBCDD8;
$c-primal-l: #FFECF0;

$c-neutral-dd: #8A8A8A;
$c-neutral-d: #F4F4F4;
$c-neutral: #F4F4F4;
$c-neutral-l: #FFF;

$f-family: 'Roboto', sans-serif, serif;
$f-size: 16px;
$f-color: #525252;
$f-color-l: #636D7B;

$m-border-rad: 15px;