@import 'vars';

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  background-color: $c-neutral;
}

.square {
  &::before {
    content: '';
    display: block;
    float: left;
    padding-bottom: 100%;
  }
}