@use 'vars';

body {
  color: vars.$f-color;
  font-size: vars.$f-size;
  font-family: vars.$f-family;

  background-color: vars.$c-neutral;
}


.user__avatar {
  width: 100%;
  height: 100%;

  object-fit: cover;

  background-color: vars.$c-neutral-dd;

  &-container {
    position: relative;
  }

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%,-50%);
}

.button {
  color: vars.$c-primal-d;
  background-color: vars.$c-primal-l;
  border-radius: vars.$m-border-rad;

  display: flex;
  align-items: center;

  padding: 10px 25px;

  transition: .15s ease-in-out;

  & > *:first-child {
    margin-left: 10px;
  }

  &:hover {
    color: vars.$c-primal-d;
    background-color: vars.$c-primal;
  }

  &_active {
    color: vars.$c-primal-l;
    background-color: vars.$c-primal-d;
  }
}


.post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: vars.$c-neutral-L;

  width: 750px;
  padding: 15px 25px;

  border-radius: vars.$m-border-rad;
  box-shadow: 0 2px 9px 2px rgba(0,0,0,.1);

  display: flex;
  flex-direction: column;
  & > * { margin-bottom: vars.$m-border-rad; }
  & > *:last-child { margin-bottom: 0; }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__footer{
    display: flex;
    justify-content: space-between;
  }
  &__user {
    display: flex;
    width: 100%;

    & > * {
      margin-right: 10px;
      &:last-child{ margin-right: 0; }
    }
  }
  &__avatar-container {
    display: flex;
    flex-shrink: 0;

    width:  40px;
    height: 40px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
  }
  &__time {
    color: vars.$f-color-l
  }


  &__user-activity, &__views {
    height: 40px;
    padding: 10px;

    color: vars.$f-color-l;

    margin-right: vars.$m-border-rad;

    display: flex;
    align-items: center;

    border-radius: vars.$m-border-rad;

    & > * {
      margin-right: 5px;
      &:last-child { margin-right: 0; }
    }

    & > i {
      width:  20px;
      height: 20px;
    }
  }
  &__user-activity {
    background-color: vars.$c-neutral-d;
    &_active {
      color: vars.$c-primal-d;
      background-color: vars.$c-primal-l;

      & > i {
        background-color: vars.$c-primal-d;
      }
    }
  }

  &__tags {
    color: vars.$c-primal-d;
  }
  &__nav {
    display: flex;
  }
  
  &__text {
    color: vars.$f-color-l;
  }
}

i {
  background-color: vars.$c-neutral-d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}